.root{
	-fx-background-image: url("../../assets/imagenes/fondo.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 1152 640;
}

/* Botones */
.boton {
    -fx-padding: 10.0;
	-fx-background-color: firebrick;
	-fx-background-radius: 15.0px;
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.boton:hover {
    -fx-background-color: #b93838;
}

.boton:pressed {
	-fx-background-color: #a01e1e;
}

/* Fin botones */
/* ComboBox */

.comboBox {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
    -fx-background-radius: 0.0;
    -fx-border-style: none none solid none;
	-fx-border-color: transparent transparent black transparent;
	-fx-font-size: 16px;
    -fx-prompt-text-fill: black;
}

.comboBox .arrow {
	-fx-background-color: black;
}

.comboBox:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.comboBox:focused {
    -fx-prompt-text-fill: gray;
}

/* Fin comboBox */
/* DatePicker */

.datePicker{
	-fx-background-color: transparent;
	-fx-font-size: 16px;
}

.datePicker:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.datePicker .text-field{
	-fx-background-color: transparent;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
    -fx-border-style: none none solid none;
	-fx-border-color: transparent transparent black transparent;
	-fx-control-inner-background: transparent;
	-fx-prompt-text-fill: black;
	-fx-text-fill: black;
}

.datePicker > .arrow-button {
    -fx-padding: 0.0px;
}

.datePicker > .arrow-button > .arrow {
    -fx-padding: 0.0px;
}

.datePicker .text-field:focused{
	-fx-prompt-text-fill: gray;
	/* -fx-border-style: none none solid none;
	-fx-border-color: transparent transparent firebrick transparent; */
}

/* Fin DatePicker */
/* Label */

.oakTexto{
	-fx-background-color: white;
	-fx-background-radius: 100px;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.formularioNuevaPartida{
	-fx-background-color: white;
	-fx-background-radius: 100px;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.mensajes{
	-fx-background-color: white;
	-fx-background-radius: 100px;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

/* Fin Label */
/* TextField TextArea*/

.textArea{
	-fx-border-color: transparent transparent transparent transparent;
	-fx-border-radius: 100px;
	-fx-background-color: transparent;
	-fx-background-radius: 100px;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
	-fx-prompt-text-fill: Black;
}

.textArea .content {
    -fx-background-radius: 100px;
}

.textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.textArea *.text {
    -fx-text-alignment: center;
}

.textField{
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
	-fx-border-color: transparent transparent black transparent;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0;
    -fx-prompt-text-fill: Black;
}

.textField:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.textField:focused{
	-fx-prompt-text-fill: gray;
}

.infoPrecios{
	-fx-background-color: white;
  	-fx-background-radius: 15;
  	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

/* Fin TextField */

/* Otros */
.glyph-icon{
	-fx-fill: red;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}